@use "@/assets/scss/base/grid" as *;

.map-point-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;

  @include desktop {
    flex-wrap: wrap;
  }

  .title {
    flex-shrink: 0;
  }
}
