.breadcrumb-path {
  &.el-breadcrumb {
    font-size: 0.875rem;
  }
  .el-breadcrumb__inner {
    font-size: 1.25rem;
    font-weight: 400;
    color: rgba(138, 138, 138, 1);
  }

  .current-path {
    > .el-breadcrumb__inner {
      color: rgba(67, 67, 67, 1);
      font-weight: 700;
    }
  }
}
