@use "@/assets/scss/base/grid" as *;
@use "@/assets/scss/utils/color" as *;

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: transparent;
  z-index: 5;

  .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .center {
    @include wide {
      position: absolute;
      left: 0;
      width: 100%;
    }
  }

  .right {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 6.25rem;

    @include wide {
      display: none;
      margin-right: 3.5rem;
    }
  }

  .role-button {
    padding-right: 1.43rem;
    background: url("/images/header-role-arrow.png") no-repeat;
    background-position: right 50%;
    background-size: 1rem;
    color: $primary;
    cursor: pointer;
    text-align: right;
    min-width: 100px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.logo {
  display: inline-block;
  width: 8.75rem;
  height: 2rem;

  img {
    width: 100%;
    height: 100%;
    vertical-align: top;
    margin-bottom: 0;
    object-fit: contain;
  }
}

.page-title {
  margin-left: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--theme-text-color);
}

.logout-dropdown {
  display: none;
  position: absolute;
  top: calc(100% + 1.25rem);
  right: 0;
  list-style: none;
  padding: 0.5rem;
  margin-bottom: 0;
  width: 100%;
  border-radius: 0.625rem;
  background: var(--theme-bg-color);
  backdrop-filter: blur(1.25rem);
  box-shadow: 0 0.25rem 0.625rem 0 rgba(0, 0, 0, 0.17);
  z-index: 1;

  &.d-block {
    display: block;
  }

  .button {
    width: 100%;
    padding: 0.5rem;
    color: var(--theme-text-color);
    font-weight: 600;

    &:hover {
      background: var(--theme-primary-50);
      color: white;

      svg {
        stroke: white;
      }
    }
  }

  svg {
    margin-right: 0.75rem;
  }
}
